name: Playwright Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

  # Run bằng tay trên GitHub UI
  workflow_dispatch:

  # Run tự động mỗi đêm (02:00 sáng, giờ UTC)
  schedule:
    - cron: "0 17 * * *"   # = 02:00 JST (UTC+9)

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Start app
        run: |
          yarn install
          yarn run dev &
          npx wait-on http://localhost:8080

      - name: Run Playwright tests
        run: npx playwright test

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
